{% load static %}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python学习系统｜登录</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script type="application/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'jquery-3.3.7.min.js' %}"></script>
</head>
<body>
{#<form class="form-horizontal center-block" action="{% url 'login' %}" method="post">#}
{#    {% csrf_token %}#}
{#    <div class="form-group">#}
{#        <label for="inputEmail3" class="col-sm-2 control-label col-sm-offset-3">用户名</label>#}
{#        <div class="col-sm-3">#}
{#            <input class="form-control" id=" " name="username" placeholder="请输入账户">#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="inputPassword3" class="col-sm-2 control-label col-sm-offset-3">密码</label>#}
{#        <div class="col-sm-3">#}
{#            <input type="password" class="form-control" id=" " name="password" placeholder="请输入密码">#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <div class="col-sm-12 col-sm-offset-5 " >#}
{#            <button type="submit" class="btn btn-default">登录</button>#}
{#            or#}
{#            <a class="btn btn-danger" href="{% url "register_view" %}">注册</a>#}
{#        </div>#}
{##}
{#    </div>#}
{#</form>#}


<body style=" background: url({% static "image/background.jpg" %}) no-repeat center center fixed; background-size: 100%;">
<form action="{% url 'login' %}" method="post">
    <div class="modal-dialog" style="margin-top: 10%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel">登录</h4>
            </div>
            <div class="modal-body" id="model-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="用户名" autocomplete="off" name="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" autocomplete="off" name="password">
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control">登录</button>
                </div>
                <div class="form-group">
                    <a href="{% url "register_view" %}" type="button" class="btn btn-default form-control">注册</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% if message %}
    <div class="alert alert-warning col-sm-4 col-sm-offset-4" role="alert">{{ message }}</div>
{% endif %}
</body>
</html>